# Python
dashboard/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
media/
staticfiles/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
